:root {
    --font-principal: "League Spartan", serif;

    /* Cores */

    --magenta-muito-escuro: hsl(300, 43%, 22%);
    --magenta-acinzentado-escuro: hsl(303, 10%, 53%);
    --magenta-acinzentado-claro: hsl(300, 24%, 96%);
    --rosa-suave: hsl(333, 80%, 67%);
    --branco: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-principal);
    font-size: 15px;
}

.services__avaliacao-flex {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

/* Seção serviços */

.section__services {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 50%;
    gap: 16px;
}

.services__title {
    color: var(--magenta-muito-escuro);
    font-size: 2.5rem;
    font-weight: bold;
    width: 52%;
}

.services__text {
    color: var(--magenta-acinzentado-escuro);
    width: 52%;
    line-height: 20px;
    font-weight: 500;
}


/* Seção Avaliação */

.section__avaliacao {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    padding-top: 35px;
}

.avaliacao__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.avaliacao__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

    width: 400px;
    height: 40px;

    border-radius: 5px;

    font-size: 14px;
    font-weight: bold;

    color: var(--magenta-muito-escuro);
    background-color: var(--magenta-acinzentado-claro);
}

.avaliacao__img {
    display: flex;
    gap: 10px;
}

.avaliacao__img-align01 {
    margin-left: 40px;
}

.avaliacao__img-align02 {
    margin-left: 80px;
}

